body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
	margin: auto;
}
h1 {
    color: coral;
}
.colorful {
    color: orange;
}
textarea {
	overflow: scroll;
	resize: none;
	width: 50em;
	height: 20em;
}